@font-face {
  font-family: "Museo Sans";
  src: url("fonts/MuseoSans_500.otf");
  font-style: "normal";
  font-weight: 500; }
@font-face {
  font-family: "Museo Sans Rounded";
  src: url("fonts/MuseoSansRounded_300.otf");
  font-style: "normal";
  font-weight: 300; }
.grey {
  background: #f1f2f5; }

.dark-grey {
  background: #454850;
  color: #979eb1; }

.dark-grey a {
  color: #61c0bd; }

.dark-grey a:hover,
.dark-grey a:focus {
  color: #f1f2f5; }

.dark-grey hr {
  border: 1px solid #51555d; }

.btn,
.btn-large,
.btn-outline,
.btn-outline-large {
  font-family: "Museo Sans";
  display: inline-block;
  text-transform: uppercase; }

.btn,
.btn-large {
  background: #5fc0c3;
  color: #ffffff; }

.btn:hover,
.btn:focus,
.btn-large:hover,
.btn-large:focus {
  color: #ffffff;
  background: #575656; }

.btn,
.btn-outline {
  padding: 15px 28px; }

.btn-large,
.btn-outline-large {
  padding: 15px 48px; }

.btn-outline,
.btn-outline-large {
  color: #61c0bd;
  border: 1px solid #61c0bd; }

.btn-outline:hover,
.btn-outline:focus,
.btn-outline-large:hover,
.btn-outline-large:focus {
  color: #575656;
  border: 1px solid #575656; }

.btn-outline.active,
.btn-outline-large.active {
  color: #61c0bd;
  border: 1px solid #61c0bd; }

.btn-toggle {
  border: none;
  outline: none;
  background: none;
  color: #61c0bd;
  margin-top: -75px; }

.btn-toggle:hover,
.btn-toggle:focus {
  color: #575656; }

.brand {
  padding-top: 30px;
  padding-bottom: 30px; }

.brand a {
  display: inline-block; }

.navigation {
  font-family: "Museo Sans";
  padding-top: 16px;
  padding-bottom: 16px; }

.navigation li {
  padding-left: 15px;
  padding-right: 15px; }

.navigation a {
  text-transform: uppercase; }

.navigation .icon {
  display: none; }

.slideshow {
  color: #ffffff;
  overflow: hidden; }

.banner {
  padding-top: 90px;
  padding-bottom: 90px; }

.banner h1 {
  font-family: "Museo Sans Rounded";
  font-size: 4.28571em;
  margin-bottom: 45px; }

.banner .description p {
  margin-bottom: 30px;
  line-height: 2; }

.banner .description .big {
  font-size: 1.28571em; }

#banner-1 {
  background: url("../images/banners/banner-1.jpg") no-repeat;
  background-size: 100%; }

#banner-2 {
  background: url("../images/banners/banner-2.jpg") no-repeat;
  background-size: 100%; }

#banner-3 {
  background: url("../images/banners/banner-3.jpg") no-repeat;
  background-size: 100%; }

#banner-4 {
  background: url("../images/banners/banner-4.jpg") no-repeat;
  background-size: 100%; }

#banner-5 {
  background: url("../images/banners/banner-5.jpg") no-repeat;
  background-size: 100%; }

#banner-6 {
  background: url("../images/banners/banner-6.jpg") no-repeat;
  background-size: 100%; }

.events {
  padding-top: 40px;
  padding-bottom: 40px; }

.event date {
  display: block;
  font-family: "Museo Sans";
  font-size: 1.28571em;
  margin-bottom: 4px; }

.event address {
  font-style: normal;
  color: #5b6172; }

.groups {
  padding-top: 40px;
  padding-bottom: 40px; }

.groups h1 {
  margin-bottom: 48px; }

.group h3 {
  font-size: 1.28571em;
  margin-top: 48px;
  margin-bottom: 24px; }

.group .description {
  margin-bottom: 24px;
  color: #5b6172; }

.missions {
  padding-top: 40px;
  padding-bottom: 40px; }

.missions h1 {
  margin-bottom: 48px; }

.missions .partners,
.missions .welcome {
  color: #5b6172;
  margin-bottom: 30px; }

.missions .welcome {
  font-family: "Museo Sans";
  font-size: 1.28571em; }

.mission {
  margin-top: 70px;
  background: #ffffff;
  padding-bottom: 32px; }

.mission img {
  margin-top: -52px; }

.mission h4 {
  font-size: 1.28571em;
  margin-top: 6px;
  margin-bottom: 24px; }

.mission .description {
  margin-bottom: 24px;
  color: #5b6172; }

.members {
  padding-top: 40px;
  padding-bottom: 40px; }

.members h1 {
  margin-bottom: 48px; }

.member {
  margin-left: 50px;
  margin-right: 50px; }

.blog {
  padding-top: 30px;
  padding-bottom: 30px; }

.blog h1 {
  margin-bottom: 36px; }

.article .title {
  font-family: Open Sans, sans-serif;
  font-weight: 600; }

.article article {
  margin-bottom: 36px; }

.article article,
.article date {
  color: #5b6172; }

.social {
  padding-top: 36px;
  padding-bottom: 2px; }

.copyright {
  padding-bottom: 6px; }

@media screen and (max-width: 768px) {
  .navigation .nav {
    display: none; }

  .navigation nav {
    max-height: 200px;
    width: 100%; }

  .navigation .icon {
    display: inline-block; }

  .navigation nav li {
    display: block;
    text-align: center; }

  .navigation nav li a {
    background: #f1f2f5;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #454850; }

  .banner {
    padding-top: 5px;
    padding-bottom: 5px; }

  .banner h1 {
    font-family: "Museo Sans Rounded";
    font-size: 1em;
    margin-bottom: 5px; }

  .banner .description p {
    font-size: 0.75em;
    margin-bottom: 5px;
    margin-top: 0;
    line-height: 1.25; }

  .banner .description .big {
    font-size: 0.75em; }

  .events .register {
    margin-top: 20px; } }
@media screen and (min-width: 769px) {
  .navigation .nav {
    display: block !important; }

  .banner {
    padding-top: 20px;
    padding-bottom: 20px; }

  .banner h1 {
    font-family: "Museo Sans Rounded";
    font-size: 3em;
    margin-bottom: 15px; }

  .banner .description p {
    margin-bottom: 10px;
    line-height: 1.5; }

  .banner .description .big {
    font-size: 1.28571em; } }
@media screen and (min-width: 993px) {
  .banner {
    padding-top: 30px;
    padding-bottom: 30px; }

  .banner h1 {
    font-family: "Museo Sans Rounded";
    font-size: 4.28571em;
    margin-bottom: 20px; }

  .banner .description p {
    margin-bottom: 10px;
    line-height: 1.75; }

  .banner .description .big {
    font-size: 1.28571em; } }

/*# sourceMappingURL=module.css.map */
